[data-rehype-pretty-code-figure] pre {
  @apply px-0;
}

[data-rehype-pretty-code-figure] code {
  @apply border-0 p-0 text-sm !leading-loose md:text-base;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

.subheading-anchor {
  @apply no-underline hover:underline;
}

.subheading-anchor:hover::after {
  visibility: visible;
}

[data-rehype-pretty-code-figure] figcaption {
  @apply rounded-t border-[1px] border-x border-t border-[#1e293b] bg-[#0b192d] p-2 font-mono text-sm font-medium text-gray-300;
}

[data-rehype-pretty-code-figure] figcaption + pre {
  @apply rounded-none rounded-b border-[1px] border-x border-b border-[#1e293b];
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply rounded-r-sm border-l-2 border-l-blue-400 pb-[2px] pt-[2px];
}

.prose code::before,
.prose code::after {
  content: "";
}
pre:not([class*="Tailwind - Dark"]) {
  background-color: #1e293b;
  color: #efeff1;
}
